@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/Categories/Index">Categories</a>
    <a asp-page="/Customers/Index">Customers</a>
    <a asp-page="/Materials/Index">Materials</a>
    <a asp-page="/Products/Index">Products</a>
</div>
